$main: rgba(91, 151, 201,1);
$secondary: rgba(9, 46, 27, 1);
$accent: rgba(90, 11, 45, 1);

$white: rgb(255, 255, 255);

//Text colors
$text-main: $secondary;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $main;


