.sales-points {
    padding: 6vh 0 0;
    .sales-point{
        margin-bottom: 2em;
        &:first-of-type{
            margin-top: 1.5em;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width:725px){
            margin-top: 0 !important;
        }
    }
   
}
