.btn {
  padding: 0.55em 2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  &:not(:last-of-type) {
    margin-bottom: 0.6em;
  }
}

.btn--primary {
  background: $accent;
  color: $text-inverse;
  border: 2px solid $accent;
  &:hover,
  &:focus {
      background: darken($accent, 5%);
  }
}
.btn--secondary {
  border: 2px solid $text-inverse;
  color: $text-inverse;
  &:hover,
  &:focus {
      background: $text-inverse;
      color: $text-main;
  }
}
